<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main name="homepage">
  <h1>Hey, <%= user ? user.profile.name : "Motorcycle lover!" %></h1>
  <p></p>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
