<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/motorcycles/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>All motorcycles</h1>
  <% motorcycles.forEach( motorcycle => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= motorcycle.make %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= motorcycle.model %></h6>
      <p class="card-text"><%= motorcycle.mspr %></p>
      <p class="card-text"><%= motorcycle.horsepower %></p>
      <a href="/motorcycles/<%= motorcycle._id %>">Details</a>
    </div>
  </div>
  
  <% }) %>
</main>

<%- include('../partials/footer') %>
