<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/motorcycles/style.css">
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <div>Make: </div>
  <div>
    <%= motorcycle.make %>
  </div>
  <div>Model: </div>
  <div>
    <%= motorcycle.model %>
  </div>
  <div>MSPR: </div>
  <div>
    <%= motorcycle.mspr %>
  </div>
  <div>Horsepower: </div>
  <div>
    <%= motorcycle.horsepower %>
  </div>
  <% if (motorcycle.owner.equals(user?.profile._id)) { %>
    <form action="/motorcycles/<%= motorcycle._id %>/edit">
      <button class="btn" type="submit">Edit Motorcycle</button>
    </form>
    <form action="/motorcycles/<%= motorcycle._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this Motorcycle</button>
    </form>
  <% } %>
  <% if (user) { %>
    <h2>Reviews</h2>
    <form action="/motorcycles/<%= motorcycle._id %>/reviews" method="POST">
      <label for="content-textarea">Review:</label>
      <textarea name="content" id="content-textarea"></textarea>
      <button type="submit">Add Review</button>
    </form>
  <% } %>
  <% if (motorcycle.reviews.length) { %>
    <table>
      <tbody>
        <% motorcycle.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %> 